.didact {
	font-family: 'Didact Gothic', sans-serif;
}
.monoton {
font-family: 'Monoton', cursive;
}
.padleft {
padding-left: 50%;
}
.padright {
padding-right: 50%;
}
.padleft25 {
padding-left: 25%;
}
.padright25 {
padding-right: 25%;
}
.fstr {
text-indent: 20px;
}
.opacity {
opacity: 1;
}
 
.opacity:hover {
transition: 0.4s;
opacity: 0.6;
}





